<!-- <h2>Bordered Table</h2>
  <p>Use the CSS border property to add a border to the table.</p>
  
  <svg width="500" height="300">
    <rect width="400" height="600" style="fill:rgb(68, 68, 122);"/>
    <circle cx="100" cy="100" r="90" style="fill:rgb(139, 88, 64)" />
  </svg> -->

<h3>Answer of Problem 1 :</h3>
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="rectangle col-md-4">
    <div class="circle"></div>
  </div>
  <div class="col-md-4">

  </div>
</div>

<h3>Answer of Problem 2 : </h3>
<div class="container-fluid row">
  <div class="rectangle2">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="padding-top: 20px;">
      <div style="padding-bottom: 10px;margin-top: 50%">
        <button type="button" class="btn btn-success btn-block">Success</button>
      </div>
      <div>
        <button type="button" class="btn btn-danger btn-block">Danger</button>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<h3>Answer of Problem 3 : </h3>

<div style="position: relative;margin-top :30px;margin-left: 20px">
  <div class="line"></div>
  <img class="imgSize miniCircle" src="assets/images/analysis.svg" alt="analysis">
  <img class="imgSize miniCircle" src="assets/images/study.svg" alt="study">
  <img class="imgSize miniCircle" src="assets/images/design.svg" alt="design">
  <img class="imgSize miniCircle" src="assets/images/build.svg" alt="build">
  <img class="imgSize miniCircle" src="assets/images/iterate.svg" alt="iterate">
</div>

<h3>Answer of Problem 4 : </h3>
<div>
  <div class="container-fluid row">

    <div class="col-md-4">
      <div class="triangle triangle1">
        <img class="imgSize1" src="assets/images/drop.png">
      </div>
      <h4 style="color: rgb(99, 185, 138);margin:20px">VESTIBULUM ANTE IPSUM PRIMIS</h4>
      <p>CSS is a language that describes the style of an HTML document.
        CSS describes how HTML elements should be displayed.
        This tutorial will teach you CSS from basic to advanced.
      </p>
    </div>

    <div class="col-md-4">
      <div class="triangle triangle2">
        <img class="imgSize1" src="assets/images/settings.png">
      </div>
      <h4 style="color: rgb(236, 114, 76);margin:20px">PHASELLUS UT MAGNA LED</h4>
      <p>CSS is a language that describes the style of an HTML document.
        CSS describes how HTML elements should be displayed.
        This tutorial will teach you CSS from basic to advanced.
      </p>
    </div>

    <div class="col-md-4">
      <div class="triangle triangle3">
        <img class="imgSize1" src="assets/images/box-closed.png">
      </div>
      <h4 style="color: rgb(216, 107, 143);margin:20px">DONEC MALESUADA SEM SED</h4>
      <p>
        CSS is a language that describes the style of an HTML document.
        CSS describes how HTML elements should be displayed.
        This tutorial will teach you CSS from basic to advanced.
      </p>
    </div>
  </div>

  <h3>Answer of Problem 5: </h3>
  <div class="row ">
    <div class="container col-md-6">
        <div class=" boxsize1">
            <div class="overlay">
                <div class="text">Hello Everyone</div>
              </div>
        </div>
    </div>
    
    <div class="container col-md-6">
        <div class=" boxsize1">
            <div class="overlay">
                <div class="text">This is Decemeber month</div>
              </div>
        </div>
    </div>
  </div>

  <div class="row ">
      <div class="container col-md-6">
          <div class=" boxsize1">
              <div class="overlay">
                  <div class="text">Christmus is Coming</div>
                </div>
          </div>
      </div>
      
      <div class="container col-md-6">
          <div class=" boxsize1">
              <div class="overlay">
                  <div class="text">Lets Celebrate</div>
                </div>
          </div>
      </div>
    </div>

</div>